<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validação de Formulário</title>
  </head>
  <body>
    <h1><%= msg %></h1>
    <hr />
    <h2>Dados Enviados</h2>
    <p>Nome: <strong><%= nome %></strong></p>
    <p>E-mail: <strong><%= email %></strong></p>
    <p>Pontos: <strong><%= pontos %></strong></p>
    <a href="/">
      <button>Início</button>
    </a>
  </body>
</html>
